<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf8mb4">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"><a class="btn btn-lighty  btn-lg" href="/">Учёт ТС в ГИБДД</a> </h5>



        </div>
    </nav>

    {% block body %} {% endblock %}
</body>
</html>